@font-face {
    font-family: 'uxiconfont';
    src: url("../font/uxiconfont.eot");
    src: url("../font/uxiconfont.eot") format('embedded-opentype'), url("../font/uxiconfont.woff") format('woff'), url("../font/uxiconfont.ttf") format('truetype'), url("../font/uxiconfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76061308#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'uxiconfont';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity .8 */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - magrins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-music:before { content: '\0034'; }
.icon-folder:before { content: '\00f3'; }
.icon-search:before { content: '\0151'; }
.icon-trash:before { content: '\0164'; }
.icon-heart:before { content: '\016a'; }
.icon-cancle:before { content: '\017a'; }
.icon-pause:before { content: '\01a3'; color: #669900; }
.icon-play:before { content: '\f019'; color: #666; }
.icon-playing:before { content: '\016e'; }
.icon-songsList:before { content: '\0186'; }
.icon-recomend:before { content: '\0169'; }
.icon-out:before { content: '\00e8'; }
.icon-right-open:before { content: '\0192'; font-size: 16px; }
.icon-left-open:before { content: '\0193';}
.icon-circle:before { content: '\01d6'; color: #666; }
.songplaying .icon-play:before {
    content: '\01a3'; color: #666;
}


.fixed .icon-trash {
    display: none;
}