#header {
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #4C7400;
    color: #FFF;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #73AE01, #669900);
}

#header .topbtn {
    width: 40px;
    height: 28px;
    margin: 6px 10px;
    background: url("../images/icon.png") no-repeat;
    cursor: pointer;
}

#header .appbtn {
    float: left;
    background-position: -20px -73px;
}

#header .musicbtn {
    float: right;
    background-position: -128px -73px;
}

/*for left menu*/
.slider-header{
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #010101;
    color: #FFF;
    background: -webkit-linear-gradient(top, #303030, #010101);
    padding:0px 15px;
}

.my-menu li{
    line-height:44px;
    position:relative;
    border-bottom:1px solid #666;
    list-style:none;
    padding:0px 10px;
    font-size: 14px;
}
.my-menu li a:link,.my-menu li a:visited,.my-menu li a:hover{
    color:#999;
    text-decoration:none;
}

.my-menu li i{
    color:#999;
    vertical-align: middle;
}
.my-menu li i.icon-right-open{
    position:absolute;
    top:3px;
    right:10px;
    color: #999;
}

#wrapper {
    top: 40px;
    background: #CCC;
}

#mainlist .song-list {
    height: 44px;
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    background: #666;
}

#mainlist .song-list .slider {
    height: 44px;
    line-height: 44px;
    background: -webkit-linear-gradient(top, #CCC, #EEE);
}

#mainlist .playing .slider {
    color: #CCC;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #666, #333);
}

#mainlist .song-list .slider .list-name {
    padding-left: 5px;
}

#mainlist .song-list .slider .list-name .list-num {
    font-size: 12px;
}

#mainlist .song-list .slider i {
    margin-top: 2px;
    float: right;
    cursor: pointer;
}

#mainlist .sideIcon {
    width: 44px;
    height: 41px;
    line-height: 44px;
    padding-top: 3px;
}

.song-list .sideIcon .icon-heart {
    margin-left: 10px;
    color: #996600;
}

.song-list .sideIcon .icon-trash {
    margin-right: 10px;
    color: #878787;
}

/* 歌曲列表 */
#mainlist .song {
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background: #CCC;
}

#mainlist .song .slider {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #999, #666);
}

#mainlist .songplaying .slider {
    color: #666;
    background: -webkit-linear-gradient(top, #FFFFCC, #FFFF99);
}

#mainlist .song .slider i {
    margin-top: 2px;
    float: right;
    margin-right: 10px;
}

.song .sideIcon .icon-heart {
    color: #996600;
}

.song .sideIcon .icon-trash {
    color: #878787;
}

/* 搜索栏 */
.edit-wrapper {
    width: 100%;
    height: 44px;
    background: #666;
    padding: 4px 0;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 9999;
    overflow: hidden;
    -webkit-perspective-origin: top center;
    -webkit-perspective: 400px;
    -webkit-backface-visibility: hidden; /*解决闪烁问题*/
}

.edit-wrapper #edit {
    width: 98%;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    border-radius: 12px;
    background: #FFF;
    -webkit-transition-property: rotateX;
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    -webkit-backface-visibility: hidden; /*解决闪烁问题*/
}

.edit-wrapper #edit i {
    color: #CCC;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.edit-wrapper #edit input {
    width: 85%;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 30px;
}

#edit input::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}
#edit input:focus{
    border: 0 none;
    background: none;
}



.search-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-perspective-origin: top center;
    -webkit-perspective: 400px;
    -webkit-backface-visibility: hidden;
    display: none;
}

.search-wrapper .search-box {
    background-color: #666;
    padding: 10px;
    position: relative;
    z-index: 20;
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    -webkit-backface-visibility: hidden;
    width: 90%;
    margin: 0 auto;
}
.search-wrapper .icon-cancel {
    position: absolute;
    right: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background: red;
    margin-top: -10px;
}
.search-box input {
    width: 90%;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    display: block;
}
.search-wrapper #search-scroll {
    height: 1000px;
}
.search-wrapper .shim {
    background-color: #666;
    width: 100%;
    height: 1000px;
    opacity: 0.95;
    position: absolute;
    z-index: 10;
    display: none;
}

.search-wrapper .mainlist {
    display: none;
    position: relative;
    z-index: 30;
}
.search-wrapper .mainlist .song {
    list-style: none;
    overflow: hidden;
    line-height: 36px;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
.search-wrapper .mainlist .item {
    margin-bottom: 20px;
}
.search-wrapper .mainlist .slider {
    padding: 0 10px;
    position: relative;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    /*background-color: #666;*/
    background: -webkit-linear-gradient(top, #999,#666);
}
.search-wrapper .songplaying .slider {
    color: #666;
    background: -webkit-linear-gradient(top, #FFFFCC, #FFFF99);
}
.search-wrapper .mainlist .icon-play {
    margin-top: 2px;
    float: right;
    margin-right: 10px;
}
.expand-search .shim,
.expand-search .mainlist{
    display: block;
}
