
.icon-trash-circled:before { content: '\e01a'; } /* '' */
.icon-thumbs-up:before { content: '\e020'; } /* '' */
.icon-search:before { content: '\e03e'; } /* '' */
.icon-play-circled2:before { content: '\e05b'; } /* '' */
.icon-pencil-circled:before { content: '\e067'; } /* '' */
.icon-pause-circled:before { content: '\e069'; } /* '' */
.icon-off:before { content: '\e071'; } /* '' */
.icon-music:before { content: '\e073'; } /* '' */
.icon-indent-left:before { content: '\e08b'; } /* '' */
.icon-down-open:before { content: '\e0a4'; } /* '' */
.icon-heart-circled:before { content: '\e0b0'; } /* '' */
.icon-right-open:before { content: '\e0cc'; } /* '' */
.icon-left-open:before { content: '\e0cd'; } /* '' */
.icon-error-alt:before { content: '\e104'; } /* '' */