html{
	background: #555;
	overflow: hidden;
}

*{
	padding:0;
	margin:0;
	border:0;
}
body {
	font-size:19px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	background: #666666;
	overflow: hidden;
}
input:focus{
	outline: 0 none;
}
.animate{
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function:  ease-out-in;
}

#header {
	position:absolute;
    z-index:2;
	top:0;
    left:0;
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#000000;
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
}

#wrapper {
	position:absolute; 
	z-index:2;
	top:45px; 
	bottom:0; 
	left:0;
	width:100%;
	background:#333;
	overflow: auto;
	-webkit-transform-style: preserve-3d; 
}
/*
.edit-wrapper{
	-webkit-perspective-origin: top center;
	-webkit-perspective: 400px;
	position: absolute;
	left: 0;
	top: -100%;
	z-index: 9999;
	width: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;解决闪烁问题
}
#edit{
	height: 62px;
	line-height: 62px;
	background: rgb(70, 189, 253);
	-webkit-transition-property:rotateX;
    -webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform-origin: top center;
	-webkit-transform: rotateX(-90deg);
	-webkit-backface-visibility: hidden;解决闪烁问题
}
#edit input{
	border: 0 none;
	width: 100%;
	height: 40px;
	padding: 5px;
	background: none;
	font-size: 19px;
	color: #fff;
}
#edit input::-webkit-input-placeholder {
        font-weight:bold;
        color: #fff;
}
#edit input:focus{
	border: 0 none;
	background: none;
}
*/
#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	-webkit-backface-visibility: hidden;/*解决闪烁问题*/
	-webkit-transform-style: preserve-3d; 

}

#mainlist > ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
	
}
.shade #mainlist > ul li{
	opacity: .05;
}

#mainlist> ul li {
	height:62px;
	overflow: hidden;
	line-height:62px;
	border-bottom:1px solid #ccc;
	background-color:#fafafa;
	font-size:19px;
	position: relative;
	z-index: 1;
	background: #fff;
	-webkit-backface-visibility: hidden;/*解决闪烁问题*/
	width: 100%;
}
.item .slider{
	padding:0 10px;
	position: relative;
	height: 62px;
	z-index: 2;
	background: #fff;
}
.item .check, .item .cross {
	width: 62px;
	height: 62px;
	position: absolute;
	z-index: 0;
	top: 0;
	opacity: 0;
}
.item .check{
	left: 0;
}
.item .cross{
	right: 0;
}
#sidebar{
	background: url("images/imagedoc-darknoise.png") repeat scroll 0 0 #222222;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.pull-more{
	-webkit-perspective-origin: bottom center;
	-moz-perspective-origin: bottom center;
	perspective-origin: bottom center;
	-webkit-perspective: 400px;
}

.pull-more.pull-down{
 	margin-top: -62px;
 }
.pull-more .pull-more-wrapper{
	background: none;
	height:62px;
	line-height:62px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-align: center;
	-webkit-transition: -webkit-transform 1s linear;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotateX(90deg);
	-webkit-transition-property:background-color;
}
.pull-more .pull-more-wrapper.item-create{
	background:#6A0000;
}

.edit-panel{
	position: absolute;
	height: 62px;
	bottom: -62px;
	width: 100%;
	background: rgb(71, 189, 253);
	z-index: 999999;
}
.edit-panel input.field{
	width: 95%;
	display: block;
	border: 0 none;
	height: 45px;
	padding: 2px;
	background: none;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	margin-top: 7px;
}