#header {
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #4C7400;
    color: #FFF;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #73AE01, #669900);
}

#header .topbtn {
    width: 40px;
    height: 28px;
    margin: 6px 10px;
    background: url("../images/icon.png") no-repeat;
    cursor: pointer;
}

#header .appbtn {
    float: left;
    background-position: -20px -73px;
}

#header .musicbtn {
    float: right;
    background-position: -128px -73px;
}

/*for left menu*/
.slider-header{
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #010101;
    color: #FFF;
    background: -webkit-linear-gradient(top, #303030, #010101);
    padding:0px 15px;
}

.my-menu li{
    line-height:44px;
    position:relative;
    border-bottom:1px solid #666;
    list-style:none;
    padding:0px 10px;
    font-size: 14px;
}
.my-menu li a:link,.my-menu li a:visited,.my-menu li a:hover{
    color:#999;
    text-decoration:none;
}

.my-menu li i{
    color:#999;
    vertical-align: middle;
}
.my-menu li i.icon-right-open{
    position:absolute;
    top:3px;
    right:10px;
    color: #999;
}

#wrapper {
    top: 40px;
    background: #CCC;
}

#mainlist .song-list {
    height: 44px;
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    background: #666;
}

#mainlist .song-list .slider {
    height: 44px;
    line-height: 44px;
    background: -webkit-linear-gradient(top, #CCC, #EEE);
}

#mainlist .playing .slider {
    color: #CCC;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #666, #333);
    padding-left: 10px;
}

#mainlist .song-list .slider .list-name .list-num {
    font-size: 12px;
}

#mainlist .song-list .slider i {
    margin-top: 2px;
    float: right;
    cursor: pointer;
    clear: both;
}

#mainlist .sideIcon {
    width: 44px;
    height: 41px;
    line-height: 44px;
    padding-top: 3px;
}

.song-list .sideIcon .icon-heart {
    margin-left: 10px;
    color: #996600;
}

.song-list .sideIcon .icon-trash {
    margin-right: 10px;
    color: #878787;
}

/* 歌曲列表 */
#mainlist .song {
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background: #CCC;
    overflow: hidden;
}

#mainlist .song .slider {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #999, #666);
}

#mainlist .songplaying .slider {
    color: #666;
    background: -webkit-linear-gradient(top, #FFFFCC, #FFFF99);
}

#mainlist .song .slider i {
    margin-top: 2px;
    float: right;
    margin-right: 10px;
}

.song .sideIcon .icon-heart {
    color: #996600;
}

.song .sideIcon .icon-trash {
    color: #878787;
}

/* 搜索栏 */
.edit-wrapper {
    width: 100%;
    height: 44px;
    background: #666;
    padding: 4px 0;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 9999;
    overflow: hidden;
    -webkit-perspective-origin: top center;
    -webkit-perspective: 400px;
    -webkit-backface-visibility: hidden; /*解决闪烁问题*/
}

.edit-wrapper #edit {
    width: 98%;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    border-radius: 12px;
    background: #FFF;
    -webkit-transition-property: rotateX;
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    -webkit-backface-visibility: hidden; /*解决闪烁问题*/
}

.edit-wrapper #edit i {
    color: #CCC;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.edit-wrapper #edit input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 30px;
}

#edit input::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}
#edit input:focus{
    border: 0 none;
    background: none;
}



.search-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-perspective-origin: top center;
    -webkit-perspective: 400px;
    -webkit-backface-visibility: hidden;
    display: none;
}

.search-wrapper .search-box {
    background: rgba(66,66,66,0.05);
    padding: 10px;
    position: relative;
    z-index: 20;
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    -webkit-backface-visibility: hidden;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.search-wrapper .icon-cancel {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #ccc;
    margin: 0;
}
.search-wrapper .icon-cancel:before {
    font-size: 36px;
}
.search-wrapper input {
    width: 90%;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    display: block;
    -webkit-box-flex: 1;
    height: 25px;
    position: relative;
    z-index: 1000000;
}
.search-wrapper #search-scroll {
    height: 1000px;
}
.search-wrapper .shim {
    background-color: #666;
    width: 100%;
    height: 1000px;
    opacity: 0.95;
    position: absolute;
    z-index: 10;
    display: none;
}

.search-wrapper .mainlist {
    display: none;
    position: relative;
    z-index: 30;
}
.search-wrapper .mainlist .song {
    list-style: none;
    overflow: hidden;
    line-height: 36px;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
.search-wrapper .mainlist .item {
    margin-bottom: 20px;
}
.search-wrapper .mainlist .slider {
    padding: 0 10px;
    position: relative;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    /*background-color: #666;*/
    background: -webkit-linear-gradient(top, #999,#666);
}
.search-wrapper .songplaying .slider {
    color: #666;
    background: -webkit-linear-gradient(top, #FFFFCC, #FFFF99);
}
.search-wrapper .mainlist .icon-play {
    margin-top: 2px;
    float: right;
    margin-right: 10px;
}
.expand-search .shim,
.expand-search .mainlist{
    display: block;
}




/*for play*/
.play-detail{
    background: #ccc;
    height: 100%;
    width: 100%;
    color: #999;
    margin-top: 30px;
}
.play-detaili{
    cursor: pointer;#PlayBox
}

.play-detail .song-play-wrapper{
    padding: 10px;
    margin:0px auto;
}
.play-detail .song-play-cover{
    color: #d4d2d2;
    
}
.play-detail .song-play-cover li{
    line-height:1.5em;
    text-align: center;
    color: #999;
}
.play-detail .song-play-tool{
    font-size:20px;
    color: #fff;
    cursor: pointer;
}
.play-detail .song-play-tool i{
    margin: 0px 10px;
}
.play-detail .song-play-tool i:before{
    color:#999;
}
.play-detail .song-cover-img{
    position: relative;
    color: #464646;
}
.play-detail .song-cover-img i:before{
    color: #999;
    font-size: 24px;
}
.play-detail .icon-left-open{
    position: absolute;
    top:40%;
    left: 5%;
    font-size: 18px;
}
.play-detail .icon-right-open{
    position: absolute;
    top:40%;
    right: 5%;
    
}
.play-detail .recomend-song-list{
    margin:0px auto;
    margin-top: 25px;
    width: 90%;
    font-size: 12px;
}
.play-detail .recomend-song-list li,.play-detail .recomend-song-list li a{
    display: block;
    line-height:40px;
   background: -webkit-linear-gradient(top, #999999, #666666);
    margin-bottom:1px;
    text-align: center;
    color: #ccc;
    text-decoration: none;
}
.play-detail .recomend-song-list li a:hover,.play-detail .recomend-song-list li a.selected{
    background: -webkit-linear-gradient(top, #73AE01, #669900);
    color: #fff;
}
.play-detail .recomend-song-list li.first-recomend ,.play-detail .recomend-song-list li.first-recomend a{
    border-radius: 5px 5px 0px 0px;
}
.play-detail .recomend-song-list li.last-recomend ,.play-detail .recomend-song-list li.last-recomend a{
    border-radius: 0px 0px 5px 5px;
}



#PlayDetail {
    overflow: hidden;
    width:100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}

#PlayDetail .play-list.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#PlayDetail .play-list {
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

#PlayDetail .song-actions{
    margin-top: 30px;
}
#PlayDetail .play-list-item {
    float: left;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
}

#PlayDetail li h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}